/* Apply glass effect and improve overall styling */

.login-container {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url(assets/123.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-container form {
    min-height: 400px;
    width: 350px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.login-container label {
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 10px;
}

.login-container form input {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    width: 100%;
    outline: none;
    color: #ffffff;
    font-size: 16px;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.login-container form input::placeholder {
    color: #ffffffa0;
}

.login-container form input:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.login-container button {
    background: linear-gradient(135deg, #6a11cb 0%, #485b7c 100%);
    border: none;
    border-radius: 7px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    margin-top: 10px;
}
.login-container form p, .link{
    color: #a6c5f9;
    font-size: 18px;
}
.forgot-password-button{
    color: #ffffff;
    font-size: 18px;
}

.login-container button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(106, 17, 203, 0.4);
}

.login-container button:active {
    transform: translateY(0);
    box-shadow: none;
}

.login-container button span{
    color: #444;
    font-size: 1.4rem
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.btn .facebook {
    
    color: #005eff;
    font-size: 1.5rem;
}
